<form action="/auth/login" method="post"/>
    <input type="mail" name="email"/>
    <input type="password" name="password"/>
    <input type="submit" value="enviar"/>
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
</form>