<form action="/auth/signup" method="post"/>
    <input type="text" name="name" placeholder="name"/>
    <input type="mail" name="email" placeholder="email"/>
    <input type="password" name="password" placeholder="pass"/>
    <input type="submit" value="enviar"/>
</form>